---
layout: archive
title: ""
permalink: /portfolio/
author_profile: true
---


<body>
    <main>
        <p>Here, you can explore my work in oceanography and physics. My research delves into the intricate dynamics of the Arctic Ocean’s mixed layer, examining the complex interactions between the ocean, sea ice, and atmosphere. This work is pivotal for understanding the rapid changes occurring in the Arctic region and their broader environmental implications.</p>
        
        <p>Additionally, my scientific investigations extend to the field of turbulence, focusing on the fine statistical study of turbulent dynamics involving small complex particles. These particles play significant roles in both industrial and natural environments, from micro-algae that can clog the cooling circuits of thermal power plants to diatoms that preferentially concentrate on kilometric scales. My research contributes to a deeper understanding of turbulence and its effects on ecosystems and technological processes.</p>
    </main>
</body>



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

